<h1 style="text-align:center;">Cafe & Coffee List</h1>

{% if cafe_list %}
    <ul>
        {% for cafe in cafe_list %}
        <li>
            <h3 style="color:{{cafe.cafe_color}};">{{cafe.cafe_name}}</h3>
                  {% for coffee in cafe.coffee_set.all %}
            <h3>
                 {{coffee.coffee_name}}  {{coffee.coffee_price}}  {% if coffee.coffee_status == False %}
                                                     ICE
                                                    {% else %}
                                                     HOT
                                                    {% endif %}
                <br><br>
            </h3>
                {% endfor %}
            </h3>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <h2>It is not available</h2>
{% endif %}